{% extends 'base.html' %}
{% block title %}Oikoitea - Mi Perfil{% endblock %}

{% load static %}

{% block content_header %}

{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home/actividades.css' %}">

<div class="container">
    <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-blue" style="background: url('../dist/img/photo1.png') center center;">
        <h3 class="widget-user-username">{{ user.get_full_name }}</h3>
        <h5 class="widget-user-desc">Psicologo</h5>
    </div>
    <div class="widget-user-image">
        <img src="{{ user.userprofile.avatar_url }}" class="profile-user-img img-responsive img-circle" alt="User mage"/>
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <h5 class="description-header">25</h5>
                    <span class="description-text">Pacientes</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <h5 class="description-header">40</h5>
                    <span class="description-text">ACTIVIDADES</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
                <div class="description-block">
                    <h5 class="description-header">350</h5>
                    <span class="description-text">IMAGENES CARGADAS</span>
                </div>
                <!-- /.description-block -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <hr>
        <ul class="users-list clearfix">
        <li>
          <div class="thumbnail bg-yellow">
            <div class="thumbnail-image">
              <span class="helper"></span>
              <img src="{% static 'images/home/wrench-outline-filled.png' %}" alt="..." class="img-thumbnail img-profile-things img-responsive">
            </div>
            <div class="caption">
              <a href="{% url 'perfil:update_user' %}">
                <h4>
                  <hr>
                    Editar Perfil
                </h4>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="thumbnail bg-gray">
            <div class="thumbnail-image">
              <span class="helper"></span>
              <img src="{% static 'images/home/lock-outline-filled.png' %}" alt="..." class="img-thumbnail img-profile-things img-responsive">
            </div>
            <div class="caption">
              <a href="{% url 'admin:password_change' %}">
                <h4>
                  <hr>
                    Cambiar Contraseña
                </h4>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
</div>

</div>


{% endblock %}