{% load static %}
<li class="li-formset" data-formset-form>
  <div class="thumbnail div-actividad">
    <!--
    <label for="exampleInputFile" class="btn btn-success btn-file"><i class="glyphicon glyphicon-picture"></i>
      <input type="hidden" id="{{ form.imagen.id_for_label }}" onchange="readURL(this);" hidden name="{{ form.imagen.html_name }}">
    </label>
    -->
    <div class="thumbnail-image">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-chevron-left"></i>
        </div>
        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
        <div class="input-group-addon">
          <i class="fa fa-chevron-right"></i>
        </div>
      </div>
      <div>
      </div>
      <span class="helper"></span>
      <img src="{% static 'images/home/image-outline-filled.png' %}" alt="..." class="img-thumbnail img-responsive img-actividad">


    </div>
    <div class="caption">
      <textarea id="{{ form.descripcion.id_for_label }}" name="{{ form.descripcion.html_name }}" class="form-control ta-descripcion-actividad text-center" rows="2" placeholder="Ingrese descripción"></textarea>
    </div>
    <input type="hidden" id="{{ form.imagen.id_for_label }}" hidden name="{{ form.imagen.html_name }}" class="input-imagen">
    <input type="hidden" id="{{ form.foto.id_for_label }}" hidden name="{{ form.foto.html_name }}" class="input-foto_id">
    <input type="hidden" id="{{ form.img_url.id_for_label }}" hidden name="{{ form.img_url.html_name }}" class="input-img_url">
  </div>
      {% if form.DELETE %}
        <div class="hidden">
          {{ form.DELETE }}
        </div>
        <button type="button" class="btn btn-default btn-sm btn-flat disabled">
          <i class="fa fa-image"></i>
        </button>
        <button type="button" class="btn bg-red btn-sm btn-delete btn-flat disabled" disabled data-formset-delete-button>
          <i class="fa fa-remove"></i>
        </button>
      {% endif %}
  <div class="hide" id="hidden-values">

  </div>
</li>



