{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load formset_tags %}
{% block content_header %}



<script src="{% static  'js/actividades/actividad_form.js' %}"></script>

<section class="content-header">
  <h1>
    {% block main_title %}Actividades{% endblock %}
    <!--<small>Version 2.0</small>-->
  </h1>
  <ol class="breadcrumb">
    {% block breadcrumb %}
      <li class="active">Nueva Actividad</li>
      <li><a href="{% url 'actividad:actividades_index' %}"><i class="glyphicon glyphicon-picture"></i> Actividades</a></li>
      <li><a href="{% url 'home:index' %}"><i class="fa fa-dashboard"></i> Inicio</a></li>
    {% endblock %}
  </ol>

  <hr>
</section>
{% endblock %}


{% block content %}
<form action="" id="" method="post" enctype="multipart/form-data" >
  <div class="box box-success">
    <div class="box-header ui-sortable-handle" style="cursor: move;">
      <i class="glyphicon glyphicon-picture"></i>
      <h3 class="box-title">Plantilla de Agenda Visual</h3>
    </div>
    <div class="box-body">
      {% csrf_token %}
      {% crispy actividadForm %}

      <div id="formset" data-formset-prefix="{{ formset.prefix }}" >
        {{ formset.management_form }}
        <div>
          <ul class="users-list clearfix" data-formset-body>
            {% for form in formset %}
              {% include "actividades/_actividad.html" with form=form %}
                <button type="button" data-formset-add class="btn btn-flat btn-lg bg-green" id="btn-add">
                  <i class="fa fa-plus"></i>
                </button>
            {% endfor %}
          </ul>
        </div>
        <!-- The empty form template. By wrapping this in a <script> tag, the
        __prefix__ placeholder can easily be replaced in both attributes and
        any scripts -->
        <script type="form-template" data-formset-empty-form>
          {% escapescript %}
             {% include "actividades/_actividad.html" with form=formset.empty_form %}
          {% endescapescript %}
        </script>
        <!-- This button will add a new form when clicked -->
      </div>

    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'actividad:actividades_index' %}" class="btn btn-default">Volver</a>
    </div>
  </div>
</form>


<style type="text/css">
  .users-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .users-list > li {
    width: 17%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    display: inline-table !important;
    float: none !important;
  }
  .users-list > li div.thumbnail {
    height: 300px;
  }
  .users-list > li .thumbnail-image {
    //height: 80%;
  }
  .users-list > li img {
    border-radius: 0% !important;
    max-height: 100%;
    border: none;
    height: auto;
    vertical-align: middle;
    max-width: 90%;
  }
  .helper{
    display: inline-block;
    height: inherit;
    vertical-align: middle;
  }
  .btn-file {
      position: relative;
      overflow: hidden;
  }  .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
  }
  .ta-descripcion-actividad{
    border-color: transparent;
    background: transparent;
    border: 0 none;

  }

  .thumbnail{
    border: 3px solid black;
  }
</style>


<script type="text/javascript">
  jQuery(function($) {
    $("#formset").formset({
        animateForms: true,
        reorderMode: 'dom',
    });
  });
  function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $(input).closest(".div-actividad").find('.img-actividad')
                .attr('src', e.target.result)
        };
        reader.readAsDataURL(input.files[0]);
    }
  }
  $('.ta-descripcion-actividad').on('keyup', function(){
    var text = $(this).val();
    var input = $(this).closest(".div-actividad").find('.img-actividad')
    $.ajax({
      url: "{% url 'actividad:actividad_load_photo' %}",
      data: {
        text: text
      },
      success: function(data){
        $("#hidden-values").html("");

        var url = data.url;

        for (var i = 0; i < data.values.length; i++) {

          var image = data.values[i];
          var img_url = url + image.foto__nombre_archivo;

          var hidden_html_aux = 
                                '<div id="' + i + '">\
                                  <input type="hidden" id="foto__nombre_archivo" value="' + img_url + '">\
                                  <input type="hidden" id="foto_id" value="' + image.foto_id + '">\
                                </div>';

          $(input).closest(".li-formset").find("#hidden-values").append(hidden_html_aux);
          $(input).closest(".div-actividad").find('.img-actividad').attr('src', img_url);
          //$(input).closest(".div-actividad").find(".input-imagen").val()
          $(input).closest(".div-actividad").find(".input-foto_id").val(image.foto_id);
          $(input).closest(".div-actividad").find(".input-img_url").val(img_url);

        }
      }
    })
  });
  $('#formset').on('formAdded', function(event) {
      var newForm = event.target;
      var onlyOneFormset = $("#formset > div > ul > li.li-formset").length == 1;
      if (!onlyOneFormset){
        $(".btn-delete").removeClass("disabled").removeAttr("disabled");
      }

      $("#btn-add").appendTo("ul.users-list.clearfix");

  }).on('formDeleted', function(event) {
        $(event.target).remove();
        var onlyOneFormset = $("#formset > div > ul > li.li-formset").length == 1;
        if (onlyOneFormset){
          $(".btn-delete").addClass("disabled").attr("disabled", true);
        }
    });
</script>


{% endblock %}